build/
_minted-*/

*.aux
*.log
*.fls
*.fdb_latexmk
*.out
*.toc
*.xdv
*.synctex.gz
*.bbl
*.blg
*.run.xml
*.listing

# Adicionales comunes de LaTeX
*.bcf
*.nav
*.snm
*.vrb
*.lof
*.lot
*.idx
*.ind
*.ilg
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist

.DS_Store
*.swp
*.swo
